In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import csv

In [2]:
df = pd.read_csv('main_task.csv')
df.loc[df['City'] == 'Oporto', 'City'] = 'Porto'
cities = df.City.unique()

In [6]:
options = webdriver.ChromeOptions()
options.add_argument('headless')
browser = webdriver.Chrome(options=options)

cities_pars = []

for city in cities:
    browser.get('https://yandex.com/maps/')
    assert 'Yandex' in browser.title

    elem = browser.find_element_by_class_name(
            'input__control')  # Find the search box
    try:
        elem.send_keys(city + Keys.RETURN)
        time.sleep(0.5)
        cities_pars.append({'City': city,
                            'country': browser.find_element_by_xpath('/html/body/div[1]/div[2]/div[4]/div[1]/div[1]/div[1]/div/div[1]/div/div[5]/div[3]/div/div[3]/div/a[2]').get_attribute('title'),
                            'city_coord': browser.find_element_by_class_name(
                                        'toponym-card-title-view__coords-badge').text.split(sep=', ')})
    except:
        browser.get('https://yandex.com/maps/')
        elem = browser.find_element_by_class_name('input__control')
        elem.send_keys('City ' + city + Keys.RETURN)
        time.sleep(0.5)
        cities_pars.append({'City': city,
                            'country': browser.find_element_by_xpath('/html/body/div[1]/div[2]/div[4]/div[1]/div[1]/div[1]/div/div[1]/div/div[5]/div[3]/div/div[3]/div/a[2]').get_attribute('title'),
                            'city_coord': browser.find_element_by_class_name(
                                        'toponym-card-title-view__coords-badge').text.split(', ')})
browser.quit()

In [7]:
data_cities = pd.DataFrame(cities_pars)
data_cities.city_coord = data_cities.city_coord.apply(lambda x: [float(x[0]), float(x[1])])
data_cities.to_csv('cities.csv', index = False)

In [8]:
data = pd.read_csv('cities.csv')
data

          City         country              city_coord
0        Paris          France   [48.856663, 2.351556]
1    Stockholm          Sweden     [59.325, 18.070897]
2       London  United Kingdom   [51.507351, -0.12766]
3       Berlin         Germany  [52.518654, 13.374711]
4       Munich         Germany  [48.137187, 11.575691]
5        Porto        Portugal  [41.157963, -8.629154]
6        Milan           Italy   [45.469436, 9.180621]
7   Bratislava        Slovakia  [48.143488, 17.108361]
8       Vienna         Austria  [48.206481, 16.363451]
9         Rome           Italy  [41.902689, 12.496176]
10   Barcelona           Spain   [41.392696, 2.144449]
11      Madrid           Spain  [40.419348, -3.700897]
12      Dublin         Ireland  [53.340258, -6.252831]
13    Brussels         Belgium   [50.846697, 4.352535]
14      Zurich     Switzerland   [47.386966, 8.534139]
15      Warsaw          Poland   [52.23209, 21.007139]
16    Budapest         Hungary  [47.492647, 19.051399]
17  Copenhagen         Denmark  [55.680661, 12.585828]
18   Amsterdam     Netherlands   [52.373057, 4.892557]
19        Lyon          France   [45.760199, 4.837715]
20     Hamburg         Germany   [53.550682, 9.992895]
21      Lisbon        Portugal  [38.716174, -9.141589]
22      Prague  Czech Republic  [50.080293, 14.428983]
23        Oslo          Norway  [59.912752, 10.734365]
24    Helsinki         Finland  [60.166892, 24.943673]
25   Edinburgh  United Kingdom  [55.951814, -3.207641]
26      Geneva     Switzerland   [46.203548, 6.140003]
27   Ljubljana        Slovenia  [46.058357, 14.520009]
28      Athens          Greece  [37.975527, 23.734855]
29  Luxembourg      Luxembourg    [49.61142, 6.119476]
30      Krakow          Poland  [50.061971, 19.936742]

In [9]:
df.merge(data)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,country,city_coord
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,France,"[48.856663, 2.351556]"
1,id_10057,Paris,NaN,10059.0,4.5,NaN,4.0,"[['Fab Food'], ['08/20/2011']]",/Restaurant_Review-g187147-d2040769-Reviews-Le...,d2040769,France,"[48.856663, 2.351556]"
2,id_11291,Paris,['French'],11293.0,4.5,$$ - $$$,10.0,[['A relaxing dinner in a very personal atmos....,/Restaurant_Review-g187147-d3543081-Reviews-La...,d3543081,France,"[48.856663, 2.351556]"
3,id_5459,Paris,"['Asian', 'Thai', 'Vegetarian Friendly']",5460.0,3.5,$$ - $$$,132.0,[['Very good Thai Food but small Portions and....,/Restaurant_Review-g187147-d953033-Reviews-Cha...,d953033,France,"[48.856663, 2.351556]"
4,id_9924,Paris,['Pub'],9926.0,3.5,$,39.0,"[['English pub', 'Shameful'], ['02/14/2017', '...",/Restaurant_Review-g187147-d5799345-Reviews-Th...,d5799345,France,"[48.856663, 2.351556]"
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_651,Krakow,"['Italian', 'Pizza']",652.0,4.0,$$ - $$$,28.0,"[['Warm and welcoming', 'Cozy, good food'], ['...",/Restaurant_Review-g274772-d3626236-Reviews-Tr...,d3626236,Poland,"[50.061971, 19.936742]"
39996,id_355,Krakow,"['Italian', 'Mediterranean', 'Vegetarian Frien...",356.0,4.0,$$ - $$$,201.0,"[['Nice meal', 'Excellent food'], ['11/12/2017...",/Restaurant_Review-g274772-d1929643-Reviews-La...,d1929643,Poland,"[50.061971, 19.936742]"
39997,id_283,Krakow,"['Italian', 'Pizza', 'European', 'Vegetarian F...",284.0,4.0,$$ - $$$,340.0,"[['Good food and friendly service', 'Nice, fri...",/Restaurant_Review-g274772-d1098691-Reviews-Fa...,d1098691,Poland,"[50.061971, 19.936742]"
39998,id_800,Krakow,NaN,801.0,4.5,NaN,11.0,"[['Great snacks', ""You won't be disappointed""]...",/Restaurant_Review-g274772-d3899509-Reviews-Pi...,d3899509,Poland,"[50.061971, 19.936742]"
39999,id_953,Krakow,NaN,954.0,3.5,NaN,11.0,"[['Yummy', 'Very disorganized'], ['12/23/2017'...",/Restaurant_Review-g274772-d10810513-Reviews-R...,d10810513,Poland,"[50.061971, 19.936742]"